   {% extends "base.html" %}

   {% block head_title %}
   {{ super() }}: inicio
   {% endblock %}

   {% block page_title %}
     MOVIMIENTOS
   {% endblock %}

   {% block contenido %}
   {{ super() }}



   <table class="paper">
      <tr>
        <th class="titulo-tabla">Fecha</th>
        <th class="titulo-tabla">Hora</th>
        <th class="titulo-tabla">From</th>
        <th class="titulo-tabla">Q</th>
        <th class="titulo-tabla">To</th>
        <th class="titulo-tabla">Q</th>
        <th class="titulo-tabla">P.U</th>
      </tr>

      {% if movs %}
        {% for mov in movs %}
        <tr>
          <td>{{mov.date }}</td>
          <td>{{mov.time }}</td>
          <td>{{mov.moneda_from }}</td>
          <td>{{mov.cantidad_from }}</td>
          <td>{{mov.moneda_to }}</td>
          <td>{{mov.cantidad_to}}</td>
          <td>{{mov.cantidad_from / mov.cantidad_to}}</td>
        </tr>

        {% if mov.errores %}
        <tr>
          <td colspan="7" class="error">
          {% for error in mov.errores %}
            {{ error }}.
          {% endfor %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      {% else %}
      <tr>
        <td colspan="7" class="lista-vacia">No hay movimientos que mostar</td>
      </tr>
      {% endif %}



    </table>
    <figure>
      <div class="botones">
        <div class="botones-estado">
          <a href="/status">Estado</a>
        </div>
        <div class="botones-mas">
          <a href="/purchase">
            <ion-icon name="add-outline"></ion-icon>
          </a>
        </div>
      </div>


        
      {% endblock %}
     