{% extends "base.html" %}

{% block head_title %}
{{ super() }}: Compra de criptomonedas
{% endblock %}

{% block page_title %}
Compra de criptomonedas
{% endblock %}

{% block contenido %}
{{ super() }}

{% if errores %}
    <div class="lista-errores">
        <p>
          <ion-icon name="warning-sharp" class="icono-error"></ion-icon>
        </p>
        <div class="mensajes-error">
            {% for error in errores %}
                <p>{{ error }}</p>
            {% endfor %}

            {{ form.errors }}
        </div>
    </div>
{% endif %}

<form class="paper" action="/purchase" method="post">
    {{ form.csrf_token }}
    
    <div class="paper">
        {{ form.fecha }}
    
        {{ form.moneda_from.label }}
        {{ form.moneda_from }}
  
        {{ form.moneda_to.label }}
        {{ form.moneda_to }}
   
  
        {{ form.cantidad_from.label }}
        {{ form.cantidad_from }}

        {{ form.consultar }}
        
        {{ form.cantidad_to.label }}
        {{ form.cantidad_to }}

        {{ form.PU.label }}
        {{ form.PU }}


        {{ form.borrar }}
        {{ form.aceptar }}

    

    </div>
</form>

{% endblock %}