{% extends "base.html" %}

{% block head_title %}
{{ super() }}: Compra de criptomonedas
{% endblock %}

{% block page_title %}
COMPRA DE CRIPTOS
{% endblock %}

{% block contenido %}
{{ super() }}




<form action="/purchase" method="post">
    {{ form.csrf_token }}
    
    <div class="grid">
        <div class="moneda_from">
        {{ form.moneda_from.label }}
        {{ form.moneda_from }}
        {% if form.moneda_from.errors %}
            {% for error in form.moneda_from.errors %}
                {{error}}
            {% endfor %}
        {% endif %}
        </div>

        <div class="moneda_to">
        {{ form.moneda_to.label }}
        {{ form.moneda_to }}
        {% if form.moneda_to.errors %}
            {% for error in form.moneda_to.errors %}
                {{error}}
             {% endfor %}
        {% endif %}
        </div>
        
    </div>

    <div class="grid">
        <div class="cantidad_from">
        {{ form.cantidad_from.label }}
        {% if form.cantidad_from.data %}
            {{ form.cantidad_from(readonly=True) }}
        {% else %}
            {{ form.cantidad_from }}
        {% endif %}
        </div>
     

        <div class="boton-consultar">
        {{ form.consultar}}
        </div>


        <div class="cantidad_to">
            {{ form.cantidad_to.label }}
            {{ form.cantidad_to }}
        </div>
     
    </div>

    
        
    <div class="grid">
        <div class="pu">
        {{ form.PU.label }}
        {{ form.PU }}
        </div>
        
         
    </div>




    <div class="boton-cancelar-comprar">
        <div class="boton-cancelar">
            <a href="/" role="button"></a>
            {{form.borrar }}
        </div>

        <div class="boton-comprar">
        {{ form.aceptar }}
        </div>
    </div>
</form> 
{% endblock %}