{% extends "base.html" %}

{% block head_title %}
{{ super() }}: Estado de la inversión
{% endblock %}

{% block page_title %}
ESTADO DE LA INVERSIÓN
{% endblock %}

{% block contenido %}
{{ super() }}


{% if errores %}
<div class="lista-errores">
  <p>
    <ion-icon name="warning-sharp" class="icono-error"></ion-icon>
  </p>
  <div>
    {% for error in errores %}
    <p>{{ error }}</p>
    {% endfor %}
  </div>
</div>
{% endif %}

<form class="paper" action="/purchase" method="GET">
  <div class="grid">
    Invertido: {{saldo_euros_invertidos}} 
    
  </div>
  
  <div class="grid">
     Valor Actual: {{valoractual}}
    
  </div>
  
  
  <div class="boton-volver">
      <a href="/" role="button">Volver</a>
  </div>

</form>
{% endblock %}