.cantidad_to {
  color: #1095c1;
  text-align: center;
  border: 1px solid #1095c1;
  height: 60px;

  border-radius: 5px;
  padding: 10px;


}

div.boton-consultar {
  display: flex;
  width: 95px;
  text-align: right;

}





input#cantidad_from {
  text-align: center;
}

input#comprar {
  height: 50px;
  width: 76px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;

}