header {
  background-color: #b8174c;
  color: white;
  height: 50px;
  font-size: large;
  line-height: 50px;
  padding-left: 25px;
}

nav {
  background-color: #19a187;
  color: white;
  height: 25px;
  line-height: 20px;
  padding-left: 25px;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  text-align: left;
}

table.paper {
  width: 100%;
  margin: 10px 20px;
}

.titulo-tabla {
  border-bottom: #19a187 1px solid;
  text-align: left;
}

.pie-de-pagina {
  margin-top: 40px;
  padding: 20px;
  border-top: solid 1px #b8174c;
}

nav.main-menu a {
  color: white;
}

h2.main_page_title {
  text-align: center;

}

div.container {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: transparent;
  color: black;
}

.grid {
  display: flex;
  justify-content: space-between;
  
  width: 100px;
  padding: 0 1rem;
  max-width: 800px;
  gap: 15em;

}

.moneda_from {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  height: 100%;

}

.moneda_to {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}

.cantidad_from {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}  

input#aceptar {
  background-color: transparent;
  color: black;
}

input#borrar {
  background-color: transparent;
  color: black;
}




.cantidad_to {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}
 
.pu {
  display: flex;
  text-align: right;
  height: 100%;
  justify-content: end;
  gap: 10px;
  margin-top: 15px;

}

.boton-cancelar-comprar {
  background-color: transparent;
  color: black;
  display: flex;
  text-align: right;
  height: 40px;
  justify-content: end;
  gap: 10px;
  margin-top: 15px;
}


.lista-errores {
  background-color: rgba(200, 0, 0, .25);
  color: darkred;
  border: solid 2px darkred;
  padding: 2rem;
  font-size: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

div.boton-volver {
   text-align: right;   
}

.boton-volver a {
  color: black;
}